<p id="notice"><%= notice %></p>

<p>
  <b>Date time:</b>
  <%= @comment.date_time %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Belongs to:</b>
  <%= @comment.belongs_to %>
</p>

<p>
  <b>Belongs to:</b>
  <%= @comment.belongs_to %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
